<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net configSource="Logger.config"/>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!--the following parameter used for DS102-->
    <add key="DS102Port" value="5" />
    <!--the following parameter used for filter fake(black) circles-->
    <add key="CountThreshold" value="0.4" />
    <!--the following parameter used for find circles-->
    <!--Min/Max are used when Distance is not provided-->
    <!--others are used according to the distance value, for example Min01/Max01 are for 1mm-->
    <add key="Min" value="20" />
    <add key="Max" value="25" />
    <add key="Min00" value="18" />
    <add key="Max00" value="28" />
    <add key="Min01" value="18" />
    <add key="Max01" value="22" />
    <add key="Min02" value="18" />
    <add key="Max02" value="23" />
    <add key="Min03" value="18" />
    <add key="Max03" value="22" />
    <add key="Min04" value="18" />
    <add key="Max04" value="22" />
    <add key="Min05" value="18" />
    <add key="Max05" value="22" />
    <add key="Min06" value="20" />
    <add key="Max06" value="25" />
    <add key="Min07" value="18" />
    <add key="Max07" value="22" />
    <add key="Min08" value="18" />
    <add key="Max08" value="22" />
    <add key="Min09" value="18" />
    <add key="Max09" value="22" />
    <add key="Min10" value="18" />
    <add key="Max10" value="22" />
  </appSettings>
</configuration>
